offlineimap
mutt
pianobar
nvim/bundle
nvim/plugin
nvim/repos
nvim/snippets
nvim/.cache
nvim/dbext.conf
nvim/spell
tags*
vim
structure.txt
emacs/emacs.d/auto-save-list
emacs/emacs.d/backups
emacs/emacs.d/elpa
emacs/emacs.d/.emacs.desktop
emacs/emacs.d/.emacs.desktop.lock
emacs/emacs.d/bookmarks
emacs/emacs.d/places
emacs/emacs.d/projectile-bookmarks.eld
emacs/emacs.d/projectile.cache
emacs/emacs.d/recentf
zsh/zsh/config_files/local.zsh
zsh/zsh/config_files/path.zsh
