git
.gitignore_global
offlineimap
mutt
pianobar
nvim/after
nvim/bundle
nvim/ftplugin
nvim/plugin
nvim/repos
nvim/snippets
nvim/.cache
tags*
vim
zsh/zsh/plugins
structure.txt
ranger/*
!ranger/config
ranger/config/*
!ranger/config/rc.conf
